.item-description{
    width: 40%;
    flex-grow: 2;
    margin: auto;
    min-width: 270px;
}

.item-description p{
    font-weight: 600
}

.item-description-text{
    width: 50%;
    margin: auto;
    min-width: 230px;
}

.item-description-text h3{
    color: black;
}


.item-description-spec p{
    margin: auto;
    text-align: left;
    margin-bottom: 10%;
}