.item-description{
    width: 40%;
    flex-grow: 2;
    margin: auto
}

.item-description p{
    font-weight: 600
}

.item-description-text{
    width: 80%;
    margin: auto
}

.item-description-spec{
    display: flex;
}


.item-description-spec p{
    text-align: left;
}

.item-description-spec :nth-child(2){
    color: black;
}

.item-description-text span p{
    color: black;
}