@media screen and (max-width: 850px){
    .sides-block{
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: auto auto auto;
        padding: 3%
    }
    .sides-carousel{
        grid-area: 1 / 1 / 1 / 1;
        margin: auto;
        width: 100%;
        margin-bottom: 15px;
    }
    
    .sides-left{
        grid-area: 2 / 1 / 2 / 1;
        margin-bottom: 15px;
    }
    
    .sides-right{
        grid-area: 3 / 1 / 3 / 1;
        min-width: 250px;
    }
}

@media screen and (min-width: 850px){
    .sides-carousel{
        width: 50%;
        min-width: 250px;
    }
    
    .sides-left{
        float: left;
        width: 20%;
        min-width: 250px;
    }
    
    .sides-right{
        float: right;
        width: 20%;
    }
    
    .sides-block{
        display: flex;
        flex-flow: row wrap;
        padding: 3%;
        width: 90%;
        text-align: left;
        margin: auto;
        justify-content: space-between
    }
}

.menu_page{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    min-height: 100%;
    padding-bottom: 7.5rem;
    width: 100%;
}

.menu-select{
    color: black
}

.sides-main{
    text-align: left;
    font-weight: bold;
    margin: auto;
    width: 50%;
    min-width: 300px;
}

.menu_page h4,h2{
    color: black;
}

.sides-block{
    width: 90%;
    text-align: left;
    margin: auto;
}

.sides-block p{
    font-size: 15px;
    font-weight: bold;
}