.nav-hamburger{
    position: absolute;
    z-index: 60;
    transition-duration: .3s;
    width: auto;
    height: 40px;
    cursor: pointer;
    padding: 1.2vw;
  }

.line{
    border-radius: 20%;
    margin-top: 0px;
    width: 35px;
    height: 3px;
    background-color: #b2464a;
    transition-duration: .3s;
    opacity: .8
}

.line.active{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #b2464a;
    opacity: 1
}

.line.bel{
    margin-top: 5px;
    opacity: .8
}

.line.bel.active{
    transform: translate(0px, -30px);
    margin-top: 0px;
}

.line.bel2.active{
    transform: translate(0px, -60px);
    margin-top: 0px;
}