.pop-up{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 275px;
    max-height: 80%;
    width: 60%;
    z-index: 100;
    border: black solid 1px;
    text-align: center;
    overflow-wrap: break-word;
    overflow-y: scroll;
    background-color: white;
    font-family: 'Prata', serif;
    box-shadow:
  0 2.8px 2.2px rgba(66, 57, 57, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.popup_images{
    display: flex;
    flex-flow: column wrap;
}

.popup-images img{
    width: 220px;
    min-width: 50%;
}

.pop-up-text{
    margin: auto;
    width: 85%;
    text-align: center;
    padding: 5%;
    z-index: 10;
    color: black;
    font-weight: bold;
    opacity: 1
}

.pop-up-text img{
    padding: 3%
}

.close{
    position: relative;
    float: right;
    color: black;
    cursor: pointer;
    border: black solid 1px;
    border-radius: 50%;
    font-size: 25px;
    height: 30px;
    width: 30px;
    margin: 1%
}

.close:hover{
    color: red;
}

.pop-up ul{
    list-style-type: none;   
}

.popup-medium{
    width: 80%;
}


.pop-up::-webkit-scrollbar {
    width: .4vw;
  }
   
  .pop-up::-webkit-scrollbar-track {
    box-shadow: transparent;
  }
   
  .pop-up::-webkit-scrollbar-thumb {
    background-color: transparent;
  }