.menu_header{
    width: 270px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    margin-top: 5%
}

.menu_header img{
    margin-top: 46px;
    margin-left: -25px;
    position: absolute;
    z-index:5;
}

.menu_title__line1{
    font-size: 45px;
    padding-top: -2%;
    font-weight: bolder;
    line-height: 1em;
}

.menu_title__line2{
    font-size: 30px;
    font-weight: lighter
}

.menu_title__line3{
    padding-top: 1%;
    font-size: 25px;
    font-weight: lighter;
    color: black;
    opacity: .8
}

.menu_title{
    position: relative;
    z-index: 10;
    margin: auto;
}