@keyframes borderGrow{
    0%{
        width: 0px;
    }
    100%{
        width: 100px;
    }
}

@media screen and (max-width: 850px){
    .linkClass{
        text-decoration: none;
        color: white;
        font-size: 10px;
        transition-duration: .2s;
        border-bottom: black solid 0.01rem
    }
    .row{
        width: 100%;
        z-index: 50;
    }
}

@media screen and (min-width: 850px) {
    .row{
        width: 100%;
        z-index: 50;
    }
}

.row{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    z-index: 50;
    transition: .3s;
    background-color: black;
}

.row1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -15px;
    margin-left: -70px;
    position: fixed;
    width: 0%;
    height: 0%;
    z-index: 50;
    font-weight: lighter;
    opacity: 0;
    transition: .3s;
}
  

.hov{
    transition: transform .3s ease-out;
    text-align: center;
    background-color: black
}

.linkClass.active{
    font-size: 10px;
    transition-duration: .3s
}

.linkClass{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition-duration: .2s;
    border-bottom: black solid 0.01rem;
    z-index: 40
}

.linkClass:hover{
    transition-timing-function: ease-in;
    font-size: 21px;
    border-bottom: white solid .1rem
}