.divider_container{
    display: flex;
    justify-content: center;
}

.divider-line{
    width: 40%;
    margin-top: 15px;
    border-top: #008f73 solid 1px;
}

.end_square{
    margin-top: -3px;
    height: 5px;
    width: 5px;
    transform: rotate(45deg);
    background-color: #008f73
}

.end_square.right{
    float:right
}