.carousel-images{
    display: flex;
    text-align: center;
    width: 50%;
    min-width: 300px;
    height: 400px;
    padding: 3%;
    flex-grow: 1
}

.carousel-caption.d-none.d-md-block{
    color: white;
    font-weight: 800;
    margin: 0;
}

.carousel-indicators li{
    background-color: black
}