.carousel-images{
    display: flex;
    text-align: center;
    width: 100%;
    min-width: 230px;
    height: 400px;
    padding: 3%;
    flex-grow: 1;
}

.carousel-indicators li{
    background-color: black
}

.carousel-images img{
    margin: auto;
}