.carousel-images{
    display: flex;
    text-align: center;
    width: 100%;
    min-width: 270px;
    height: 400px;
    padding: 3%;
    flex-grow: 1;
    margin: auto;
}

.carousel-caption.d-none.d-md-block{
    color: white;
    font-weight: 800;
    margin: 0;
}

.carousel-indicators li{
    background-color: black
}