.menu-item-row{
    display: flex;
    width: 85%;
    margin: auto
}

.full-menu{
    display: flex;
    flex-direction: row wrap;
    width: 80%;
    margin: auto;
}

.menu-item-row img{
    text-align: center;
    max-width: 90%;
    padding: 3%;
    flex-grow: 1;
    margin: auto
}